<%= form_with(model: @post)do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group">
        <%= f.label :title, ' タイトル(50文字未満)' %>
        <%= f.text_field :title ,class: 'form-control' %>
    </div>
       
    <div class="form-group">
        <%= f.label :content, ' 内容（10文字以上　255文字未満）' %>
        <%= f.text_area :content ,class: 'form-control' %>
    </div>
    <div class="form-group">
        <p><%= f.label :image, '画像' %>
        <%= f.file_field :image, class: "form-control" %> 
        </p>
    </div>
    <div class="form_input">
        <p> <%= f.label :category_id %>
        
            <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control'%>
        </p>
    </div>
    <div class="form_action row">
        <%= f.submit '投稿', class: 'btn btn-outline-primary' %>
    </div>
<% end %>

