<div class="top__items">
<h1>投稿一覧</h1>

  <div class="ml-auto boards__linkBox">
    <%= form_with url: posts_path, method: :get, class: 'posts__searchForm' do %>
      <%= select_tag :category_id,
                     options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
                     {
                       prompt: 'カテゴリーを選択',
                       class: 'form-control boards_select',
                       onchange: 'submit(this.form);'
                     } %>
    <% end %>
   
  </div>

<ul>
  <% @posts.each do |post| %>
    <span><%= image_tag post.image.url, size: "150x150" if post.image? %></span>
    <li>タイトル：<%= link_to post.title, post %></li>
  <% end %>
</ul>

<%= link_to "新規作成", new_post_path, class: "btn btn-outline-primary" %>