<h1>id: <%= @post.id %> 投稿詳細ページ</h1>
<p>タイトル：<%= @post.title %></p>
<p><%= image_tag @post.image.url, size: "150x150" if @post.image? %></p>
<p>内容：<%= @post.content %></p>

<%= link_to '一覧戻る', posts_path, class: 'btn btn-outline-secondary' %>
<%= link_to 'この投稿を削除する', @post, class: 'btn btn-outline-danger', method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

<div class="comment_list">
  <h4 class="comment_count"><%= @post.comments.length %>件のコメント</h4>
  <%= render @post.comments %>
</div> 


<h2>コメント投稿:</h2>
<%= render "comments/form" %>
 