<h1 class="text-center">id: <%= @post.id %> 投稿詳細ページ</h1>
<%= link_to '一覧戻る', posts_path, class: 'btn btn-outline-secondary' %>
<Hr>

<h4>タイトル：<%= @post.title %></h4>
<p><%= image_tag @post.image.url, size: "150x150" if @post.image? %></p>
<p><%= @post.user.name %> : <%= @post.created_at %></p>
<h5>内容：<%= @post.content %></h5>

  <p class="comment_count"><i class="far fa-comment-dots"></i> <%= @post.comments.length %>件のコメント数</p>
  
  <div class="comment_list">
  <Hr>
  <p>
  <%= render @post.comments %>
  </p>
  
</div> 

<h2>コメント投稿</h2>
<%= render "comments/form" %>

